In [15]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

# Logistic Regression Section

In [2]:
train = pd.read_csv('train_data.csv')
test = pd.read_csv('test_data.csv')

X_train = train.drop(['High Income'], axis=1)
y_train = train['High Income']

X_test = test.drop(['High Income'], axis=1)
y_test = test['High Income']

### Logistic Regression Coefficients

In [3]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

coef = logreg.coef_

print("Coefficients: " + str(logreg.coef_)) 
print("Intercept" + str(logreg.intercept_))

Coefficients: [[0.25213684 0.52613559]]
Intercept[-16.3964274]

### Get Data Points for Desmos graphs

In [4]:
train['linreg'] = train['Age']*0.25213684 + train['Years of Education']*0.52613559 - 16.3964274
train['logreg'] = 1 / (1 + np.exp(-train['linreg']))

mask_tr = train.applymap(type) != bool
d = {True: 1, False: 0}
train = train.where(mask_tr, train.replace(d))

In [5]:
def merge(list1, list2):   
    merged_list = [(list1[i], list2[i]) for i in range(0, len(list1))] 
    return merged_list

In [6]:
train_Ytuple = list(train['High Income'])
train_Xtuple = list(train['linreg'])

train_tuples = merge(train_Xtuple, train_Ytuple)

In [7]:
test['linreg'] = test['Age']*0.25213684 + test['Years of Education']*0.52613559 - 16.3964274
test['logreg'] = 1 / (1 + np.exp(-test['linreg']))

mask_te = test.applymap(type) != bool
test = test.where(mask_te, test.replace(d))

   Age  Years of Education  High Income    linreg    logreg
0   30                  10            0 -3.570966  0.027359
1   22                  12            0 -4.535790  0.010605
2   43                  14            1  1.811355  0.859526
3   53                  11            1  2.754317  0.940157
4   26                  12            0 -3.527242  0.028547
5   57                  15            1  5.867406  0.997178
6   22                   7            0 -7.166468  0.000771
7   47                  14            1  2.819902  0.943742

In [8]:
test_Ytuple = list(test['High Income'])
test_Xtuple = list(test['linreg'])

test_tuples = merge(test_Xtuple, test_Ytuple)

# Model Performance Section

In [9]:
adult = pd.read_csv("adult.csv")

mask = adult.applymap(type) == bool
d = {">50K": 1, "<=50K": 0}
adult = adult.where(mask, adult.replace(d))

data = adult[['age', 'education.num', 'income']]
data['income'] = data["income"].astype(str).astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
X = data.drop(['income'], axis=1)
y = data['income']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [14]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

print("Train accuracy:" + str(logreg.score(X_train, y_train)))
print("Test accuracy:" + str(logreg.score(X_test, y_test)))

Train accuracy:0.7832923832923833
Test accuracy:0.7782827662449331

In [18]:
logreg = LogisticRegression()
cross_val_score(logreg, X_train, y_train, cv=5)

array([0.78480753, 0.77866503, 0.78480753, 0.78419328, 0.78439803])