In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import numpy as np

In [2]:
train = pd.read_csv('train_data.csv')
test = pd.read_csv('test_data.csv')

X_train = train.drop(['High Income'], axis=1)
y_train = train['High Income']

X_test = test.drop(['High Income'], axis=1)
y_test = test['High Income']

In [3]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

coef = logreg.coef_

print("Coefficients: " + str(logreg.coef_)) 
print("Intercept" + str(logreg.intercept_))

Coefficients: [[0.25213684 0.52613559]]
Intercept[-16.3964274]

In [15]:
train['linreg'] = train['Age']*0.25213684 + train['Years of Education']*0.52613559 - 16.3964274
train['logreg'] = 1 / (1 + np.exp(-train['linreg']))

mask_tr = train.applymap(type) != bool
d = {True: 1, False: 0}
train = train.where(mask_tr, train.replace(d))

train

    Age  Years of Education  High Income    linreg    logreg
0    38                   8            0 -2.606143  0.068744
1    59                  13            1  5.319409  0.995128
2    26                  13            0 -3.001107  0.047376
3    51                  13            1  3.302314  0.964508
4    34                  11            0 -2.036283  0.115446
5    50                  15            1  4.102448  0.983737
6    45                  13            1  1.789493  0.856865
7    57                  10            1  3.236728  0.962193
8    23                  10            0 -5.335924  0.004792
9    19                   6            0 -8.449014  0.000214
10   49                  13            1  2.798040  0.942570
11   31                  13            0 -1.740423  0.149259
12   51                  10            1  1.723907  0.848631
13   33                  13            0 -1.236149  0.225107
14   40                   9            0 -1.575733  0.171401
15   20                   9            0 -6.618470  0.001334
16   42                  13            1  1.033083  0.737513
17   36                   7            0 -3.636552  0.025667
18   25                   9            0 -5.357786  0.004689
19   44                   8            0 -1.093322  0.250993
20   38                  13            0  0.024535  0.506133
21   47                   9            0  0.189224  0.547165
22   32                   9            1 -3.592828  0.026783
23   25                   7            0 -6.410057  0.001642
24   30                   5            0 -6.201644  0.002022
25   55                  13            1  4.310861  0.986756
26   53                  12            1  3.280452  0.963752
27   47                  12            1  1.767631  0.854163
28   55                  14            1  4.836997  0.992132
29   60                  11            1  4.519274  0.989221
30   53                  14            1  4.332723  0.987038
31   41                  14            1  1.307081  0.787024

In [5]:
def merge(list1, list2): 
      
    merged_list = [(list1[i], list2[i]) for i in range(0, len(list1))] 
    return merged_list

In [10]:
train_Ytuple = list(train['High Income'])
train_Xtuple = list(train['linreg'])

train_tuples = merge(train_Xtuple, train_Ytuple)

[(-2.606142760000001, 0), (5.319408829999997, 1), (-3.001106890000001, 0), (3.3023141099999975, 1), (-2.0362833500000015, 0), (4.102448449999997, 1), (1.789493069999999, 1), (3.236728379999999, 1), (-5.335924180000001, 0), (-8.4490139, 0), (2.798040429999997, 1), (-1.7404226900000026, 0), (1.7239073399999967, 1), (-1.2361490100000019, 0), (-1.575733490000001, 0), (-6.618470290000001, 0), (1.0330825499999996, 1), (-3.6365520300000007, 0), (-5.357786090000001, 0), (-1.0933217200000023, 0), (0.024535189999998153, 0), (0.1892243899999997, 0), (-3.5928282100000004, 1), (-6.410057270000001, 0), (-6.201644250000001, 0), (4.310861469999999, 1), (3.280452199999999, 1), (1.7676311600000005, 1), (4.836997059999998, 1), (4.519274489999997, 1), (4.332723379999997, 1), (1.3070813000000001, 1)]

In [13]:
train_Xtuple = list(train['linreg'])
train_log = list(train['logreg'])

train_logreg = merge(train_Xtuple, train_log)

[(-2.606142760000001, 0.06874412756386677), (5.319408829999997, 0.9951282035661477), (-3.001106890000001, 0.04737589262752554), (3.3023141099999975, 0.964508113042082), (-2.0362833500000015, 0.11544572683514585), (4.102448449999997, 0.9837367192883406), (1.789493069999999, 0.8568651141759046), (3.236728379999999, 0.9621932763388634), (-5.335924180000001, 0.004792380201304841), (-8.4490139, 0.00021406561270110092), (2.798040429999997, 0.9425698407307853), (-1.7404226900000026, 0.14925925300448498), (1.7239073399999967, 0.8486314420907697), (-1.2361490100000019, 0.2251070175456312), (-1.575733490000001, 0.1714005728437633), (-6.618470290000001, 0.00133369116162165), (1.0330825499999996, 0.7375130758511951), (-3.6365520300000007, 0.025666874564507856), (-5.357786090000001, 0.004689232521135388), (-1.0933217200000023, 0.2509932930797169), (0.024535189999998153, 0.5061334898188451), (0.1892243899999997, 0.5471654480887874), (-3.5928282100000004, 0.02678330004398598), (-6.410057270000001, 0.001642228942078146), (-6.201644250000001, 0.002021999720281226), (4.310861469999999, 0.986755781682002), (3.280452199999999, 0.963752084095412), (1.7676311600000005, 0.85416283526848), (4.836997059999998, 0.9921315690729671), (4.519274489999997, 0.9892205363934294), (4.332723379999997, 0.9870384713323269), (1.3070813000000001, 0.7870243419053298)]

In [7]:
test['linreg'] = test['Age']*0.25213684 + test['Years of Education']*0.52613559 - 16.3964274
test['logreg'] = 1 / (1 + np.exp(-test['linreg']))

mask_te = test.applymap(type) != bool
test = test.where(mask_te, test.replace(d))

test

   Age  Years of Education  High Income    linreg    logreg
0   30                  10            0 -3.570966  0.027359
1   22                  12            0 -4.535790  0.010605
2   43                  14            1  1.811355  0.859526
3   53                  11            1  2.754317  0.940157
4   26                  12            0 -3.527242  0.028547
5   57                  15            1  5.867406  0.997178
6   22                   7            0 -7.166468  0.000771
7   47                  14            1  2.819902  0.943742

In [12]:
test_Ytuple = list(test['High Income'])
test_Xtuple = list(test['linreg'])

test_tuples = merge(test_Xtuple, test_Ytuple)
print(test_tuples)

[(-3.570966300000002, 0), (-4.535789840000001, 0), (1.8113549799999973, 1), (2.7543166099999965, 1), (-3.5272424800000017, 0), (5.867406329999998, 1), (-7.166467790000002, 0), (2.8199023399999987, 1)]